In [1]:
import pandas as pd
from datetime import date, timedelta
from datetime import date
from dateutil.relativedelta import relativedelta
from datetime import datetime
import numpy as np

import calendar
pd. set_option("display.max_columns", None)
pd. set_option("display.max_rows", None)
import datetime

In [2]:
path='/Users/mayur.kolki/Downloads/rrr.csv'
df1=pd.read_csv(path)
df1['subscription_start_date'] = pd.to_datetime(df1['subscription_start_date']) 
df1['date_modified'] = (df1['subscription_start_date']+pd.to_timedelta(1*365, unit = 'D')).dt.date
df1['180_days_later'] = (df1['subscription_start_date']+pd.to_timedelta(1*180, unit = 'D')).dt.date
df1['90_days_later'] = (df1['subscription_start_date']+pd.to_timedelta(1*90, unit = 'D')).dt.date
df1['date_modified'] = pd.to_datetime(df1['date_modified']) 
df1['last_date'] = (df1['date_modified']-pd.to_timedelta(1, unit = 'D')).dt.date
df1['last_date'] = pd.to_datetime(df1['last_date'])
df1['month'] = df1['subscription_start_date'].to_numpy().astype('datetime64[M]')
df1['180_days_later'] = pd.to_datetime(df1['180_days_later']) 
df1['90_days_later'] = pd.to_datetime(df1['90_days_later'])

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    return next_month - datetime.timedelta(days=next_month.day)

li=[]
for month in df1['subscription_start_date']:
    lm=last_day_of_month(month)
    li.append(lm)
df77 = pd.DataFrame(li, columns =['last_date_month'])
                                              
result = pd.concat([df1, df77], axis=1, join='inner')
result['count_yr']= 13
result['count_hf_yr']= 7
result['count_hf_qr']=4
result['new_mnth'] = pd.DatetimeIndex(result['last_date']).month
result['new_lst_date'] = pd.DatetimeIndex(result['last_date_month']).month

rest1=result.loc[(result['new_mnth'] == result['new_lst_date'])]
rest2=result.loc[(result['new_mnth'] != result['new_lst_date'])]

rest1=rest1.reset_index()
rest2=rest2.reset_index()
#yearly
r11=rest1[rest1['subscription_type'] == 'yearly']
r11=r11.sort_values(by='subscription_start_date')
r11=r11.reset_index()

lsu1=[]
for i in r11['month']:
    for q in r11['subscription_start_date']:
        lsu1.append(q)
        start =q.month
        for p in range(start,start+12):
            day =i+relativedelta(months=p)
            lsu1.append(day)

lsu1=pd.DataFrame(lsu1,columns =['start_date'])

lsm1=[]
for i in r11['last_date_month']:
    for q in r11['last_date']:
        
        start =q.month
        for p in range(start-1,start+11):
            day =i+relativedelta(months=p)
            lsm1.append(day)
        lsm1.append(q)

lsm1=pd.DataFrame(lsm1,columns =['last_date_of_month'])
r11=r11.loc[r11.index.repeat(r11['count_yr'])].reset_index(drop=True)
lsu1 = lsu1.head(len(r11))
lsm1 = lsm1.head(len(r11))
r11 = pd.concat([r11,lsu1, lsm1], axis=1, join='inner')

r77=rest2[rest2['subscription_type'] == 'yearly']
r77=r77.sort_values(by='subscription_start_date')
r77=r77.reset_index()

lsu00=[]
for i in r77['month']:
    for q in r77['subscription_start_date']:
        lsu00.append(q)
        start =q.month
        for p in range(start,start+12):
            day =i+relativedelta(months=p)
            lsu00.append(day)

lsu00=pd.DataFrame(lsu00,columns =['start_date'])
r77['last_date']=r77['last_date'].apply(lambda x: x.strftime('%Y-%m-%d'))

date3=[]
for i in range((r77.shape[0])):
    for j in range(0,12):
        date4=(r77['subscription_start_date'][i]+relativedelta(months=+j))
        lastdate=str(date4.year)+'-'+str(date4.month)+'-'+str(date4.days_in_month)
        if j==11:
            date3.append(lastdate)
            date3.append(r77['last_date'][i])
        else:
            date3.append(lastdate)

lsm00=pd.DataFrame(date3,columns =['last_date_of_month'])
lsm00['last_date_of_month'] = pd.to_datetime(lsm00['last_date_of_month'])
r77=r77.loc[r77.index.repeat(r77['count_yr'])].reset_index(drop=True)
lsu00 = lsu00.head(len(r77))
lsm00 = lsm00.head(len(r77))
r77 = pd.concat([r77,lsu00, lsm00], axis=1, join='inner')
r11['hf_add_1']=1
r77['hf_add_1']=1

#half_year
r22=rest1[rest1['subscription_type'] == 'half_year']
r22=r22.sort_values(by='subscription_start_date')
r22=r22.reset_index() 

lsu2=[]
for i in r22['month']:
    for q in r22['subscription_start_date']:
        lsu2.append(q)
        start =q.month
        for p in range(start,start+6):
            day =i+relativedelta(months=p)
            lsu2.append(day)

lsu2=pd.DataFrame(lsu2,columns =['start_date'])
r22['180_days_later']=r22['180_days_later'].apply(lambda x: x.strftime('%Y-%m-%d'))
date1=[]
for i in range((r22.shape[0])):
    for j in range(0,6):
        date2=(r22['subscription_start_date'][i]+relativedelta(months=+j))
        lastdate=str(date2.year)+'-'+str(date2.month)+'-'+str(date2.days_in_month)
        if j==5:
            date1.append(lastdate)
            date1.append(r22['180_days_later'][i])
        else:
            date1.append(lastdate)

lsm2=pd.DataFrame(date1,columns =['last_date_of_month'])
lsm2['last_date_of_month'] = pd.to_datetime(lsm2['last_date_of_month'])
hf_1add=[]
for i in range(len(lsm2)):
    for p in range(6):
        hf_1add.append(1)
    hf_1add.append(0)
        
hf_1add=pd.DataFrame(hf_1add,columns =['hf_add_1'])
r22=r22.loc[r22.index.repeat(r22['count_hf_yr'])].reset_index(drop=True)
lsu2 = lsu2.head(len(r22))
lsm2 = lsm2.head(len(r22))
hf_1add=hf_1add.head(len(r22))
r22 = pd.concat([r22,lsu2,lsm2,hf_1add], axis=1, join='inner')

r88=rest2[rest2['subscription_type'] == 'half_year']
r88=r88.sort_values(by='subscription_start_date')
r88=r88.reset_index() 
lsu_11=[]
for i in r88['month']:
    for q in r88['subscription_start_date']:
        lsu_11.append(q)
        start =q.month
        for p in range(start,start+6):
            day =i+relativedelta(months=p)
            lsu_11.append(day)

lsu_11=pd.DataFrame(lsu_11,columns =['start_date'])
r88['180_days_later']=r88['180_days_later'].apply(lambda x: x.strftime('%Y-%m-%d'))
date4=[]
for i in range((r88.shape[0])):
    for j in range(0,6):
        date5=(r88['subscription_start_date'][i]+relativedelta(months=+j))
        lastdate=str(date5.year)+'-'+str(date5.month)+'-'+str(date5.days_in_month)
        #print(r22['subscription_start_date'][i],' adding ',j,' months '+lastdate)
        if j==5:
            date4.append(lastdate)
            date4.append(r88['180_days_later'][i])
        else:
            date4.append(lastdate)
lsm_11=pd.DataFrame(date4,columns =['last_date_of_month'])
lsm_11['last_date_of_month'] = pd.to_datetime(lsm_11['last_date_of_month'])

hf_1add_1=[]
for i in range(len(lsm_11)):
    for p in range(6):
        hf_1add_1.append(1)
    hf_1add_1.append(0)
        
hf_1add_1=pd.DataFrame(hf_1add_1,columns =['hf_add_1'])

r88=r88.loc[r88.index.repeat(r88['count_hf_yr'])].reset_index(drop=True)
lsu_11 = lsu_11.head(len(r88))
lsm_11 = lsm_11.head(len(r88))
hf_1add_1=hf_1add_1.head(len(r88))

r88 = pd.concat([r88,lsu_11,lsm_11,hf_1add_1], axis=1, join='inner')

#quarter
r33=rest1[rest1['subscription_type'] == 'quarter']
r33=r33.sort_values(by='subscription_start_date')
r33=r33.reset_index() 
lsu55=[]
for i in r33['month']:
    for q in r33['subscription_start_date']:
        lsu55.append(q)
        start =q.month
        for p in range(start-1,start+2):
            day =i+relativedelta(months=p)
            lsu55.append(day)

lsu55=pd.DataFrame(lsu55,columns =['start_date'])
r33['90_days_later']=r33['90_days_later'].apply(lambda x: x.strftime('%Y-%m-%d'))
date2=[]
for i in range((r33.shape[0])):
    for j in range(0,3):
        date3=(r33['subscription_start_date'][i]+relativedelta(months=+j))
        lastdate=str(date3.year)+'-'+str(date3.month)+'-'+str(date3.days_in_month)
        #print(r22['subscription_start_date'][i],' adding ',j,' months '+lastdate)
        if j==2:
            date2.append(lastdate)
            date2.append(r33['90_days_later'][i])
        else:
            date2.append(lastdate)
lsm55=pd.DataFrame(date2,columns =['last_date_of_month'])
lsm55['last_date_of_month'] = pd.to_datetime(lsm55['last_date_of_month'])


qr_1add=[]
for i in range(len(lsm55)):
    for p in range(3):
        qr_1add.append(1)
    qr_1add.append(0)
        
qr_1add=pd.DataFrame(qr_1add,columns =['hf_add_1'])


r33=r33.loc[r33.index.repeat(r33['count_hf_qr'])].reset_index(drop=True)
lsu55 = lsu55.head(len(r33))
lsm55 = lsm55.head(len(r33))
qr_1add=qr_1add.head(len(r33))

r33 = pd.concat([r33,lsu55,lsm55,qr_1add], axis=1, join='inner')

r99=rest2[rest2['subscription_type'] == 'quarter']
r99=r99.sort_values(by='subscription_start_date')
r99=r99.reset_index() 
lsu_22=[]
for i in r99['month']:
    for q in r99['subscription_start_date']:
        lsu_22.append(q)
        start =q.month
        for p in range(start,start+3):
            day =i+relativedelta(months=p)
            lsu_22.append(day)

lsu_22=pd.DataFrame(lsu_22,columns =['start_date'])
r99['90_days_later']=r99['90_days_later'].apply(lambda x: x.strftime('%Y-%m-%d'))

date5=[]
for i in range((r99.shape[0])):
    for j in range(0,3):
        date6=(r99['subscription_start_date'][i]+relativedelta(months=+j))
        lastdate=str(date6.year)+'-'+str(date6.month)+'-'+str(date6.days_in_month)
        #print(r22['subscription_start_date'][i],' adding ',j,' months '+lastdate)
        if j==2:
            date5.append(lastdate)
            date5.append(r99['90_days_later'][i])
        else:
            date5.append(lastdate)

lsm_22=pd.DataFrame(date5,columns =['last_date_of_month'])
lsm_22['last_date_of_month'] = pd.to_datetime(lsm_22['last_date_of_month'])


qr_1add_1=[]
for i in range(len(lsm_22)):
    for p in range(3):
        qr_1add_1.append(1)
    qr_1add_1.append(0)
        
qr_1add_1=pd.DataFrame(qr_1add_1,columns =['hf_add_1'])


r99=r99.loc[r99.index.repeat(r99['count_hf_qr'])].reset_index(drop=True)
lsu_22 = lsu_22.head(len(r99))
lsm_22 = lsm_22.head(len(r99))
qr_1add_1=qr_1add_1.head(len(r99))

r99 = pd.concat([r99,lsu_22,lsm_22,qr_1add_1], axis=1, join='inner')

          
r11 = r11[["companies_id", "subscription_start_date",'subscription_type','Amount','start_date','last_date_of_month','hf_add_1']]
r22= r22[["companies_id", "subscription_start_date",'subscription_type','Amount','start_date','last_date_of_month','hf_add_1']]
r33= r33[["companies_id", "subscription_start_date",'subscription_type','Amount','start_date','last_date_of_month','hf_add_1']]
r77=r77[["companies_id", "subscription_start_date",'subscription_type','Amount','start_date','last_date_of_month','hf_add_1']]
r88=r88[["companies_id", "subscription_start_date",'subscription_type','Amount','start_date','last_date_of_month','hf_add_1']]
r99 =r99[["companies_id", "subscription_start_date",'subscription_type','Amount','start_date','last_date_of_month','hf_add_1']]

df_final=pd.concat([r11, r22,r33,r77,r88,r99], ignore_index = True)

date_dif=((df_final['last_date_of_month']-df_final['start_date'])/np.timedelta64(1, 'D'))
date_diff=pd.DataFrame(date_dif,columns =['date_diff'])
df_final = pd.concat([df_final,date_diff], axis=1, join='inner')
def aggre(row):
    if row.subscription_type == 'yearly':
        return (row.Amount/365)*(row.date_diff+row['hf_add_1'])
    elif row.subscription_type=='half_year':
        return (row.Amount/180)*(row.date_diff+row['hf_add_1'])
    else:
        return (row.Amount/90)*(row.date_diff+row['hf_add_1'])
cal_agre = df_final.apply(aggre, axis=1)
cal_agre=pd.DataFrame(cal_agre,columns =['calculation'])
df_final = pd.concat([df_final,cal_agre], axis=1, join='inner')
df_final =df_final.drop(['hf_add_1','date_diff'], axis=1)
df_final

,companies_id,subscription_start_date,subscription_type,Amount,start_date,last_date_of_month,calculation
0,1,2022-01-07,yearly,14999,2022-01-07,2022-01-31,1027.328767
1,1,2022-01-07,yearly,14999,2022-02-01,2022-02-28,1150.608219
2,1,2022-01-07,yearly,14999,2022-03-01,2022-03-31,1273.887671
3,1,2022-01-07,yearly,14999,2022-04-01,2022-04-30,1232.794521
4,1,2022-01-07,yearly,14999,2022-05-01,2022-05-31,1273.887671
5,1,2022-01-07,yearly,14999,2022-06-01,2022-06-30,1232.794521
6,1,2022-01-07,yearly,14999,2022-07-01,2022-07-31,1273.887671
7,1,2022-01-07,yearly,14999,2022-08-01,2022-08-31,1273.887671
8,1,2022-01-07,yearly,14999,2022-09-01,2022-09-30,1232.794521
9,1,2022-01-07,yearly,14999,2022-10-01,2022-10-31,1273.887671
10,1,2022-01-07,yearly,14999,2022-11-01,2022-11-30,1232.794521
11,1,2022-01-07,yearly,14999,2022-12-01,2022-12-31,1273.887671
12,1,2022-01-07,yearly,14999,2023-01-01,2023-01-06,246.558904
13,7,2022-06-23,yearly,14999,2022-06-23,2022-06-30,328.745205
14,7,2022-06-23,yearly,14999,2022-07-01,2022-07-31,1273.887671
15,7,2022-06-23,yearly,14999,2022-08-01,2022-08-31,1273.887671
16,7,2022-06-23,yearly,14999,2022-09-01,2022-09-30,1232.794521
17,7,2022-06-23,yearly,14999,2022-10-01,2022-10-31,1273.887671
18,7,2022-06-23,yearly,14999,2022-11-01,2022-11-30,1232.794521
19,7,2022-06-23,yearly,14999,2022-12-01,2022-12-31,1273.887671
20,7,2022-06-23,yearly,14999,2023-01-01,2023-01-31,1273.887671
21,7,2022-06-23,yearly,14999,2023-02-01,2023-02-28,1150.608219
22,7,2022-06-23,yearly,14999,2023-03-01,2023-03-31,1273.887671
23,7,2022-06-23,yearly,14999,2023-04-01,2023-04-30,1232.794521
24,7,2022-06-23,yearly,14999,2023-05-01,2023-05-31,1273.887671
25,7,2022-06-23,yearly,14999,2023-06-01,2023-06-22,904.049315
26,17,2022-07-09,yearly,14999,2022-07-09,2022-07-31,945.142466
27,17,2022-07-09,yearly,14999,2022-08-01,2022-08-31,1273.887671
28,17,2022-07-09,yearly,14999,2022-09-01,2022-09-30,1232.794521
29,17,2022-07-09,yearly,14999,2022-10-01,2022-10-31,1273.887671
30,17,2022-07-09,yearly,14999,2022-11-01,2022-11-30,1232.794521
31,17,2022-07-09,yearly,14999,2022-12-01,2022-12-31,1273.887671
32,17,2022-07-09,yearly,14999,2023-01-01,2023-01-31,1273.887671
33,17,2022-07-09,yearly,14999,2023-02-01,2023-02-28,1150.608219
34,17,2022-07-09,yearly,14999,2023-03-01,2023-03-31,1273.887671
35,17,2022-07-09,yearly,14999,2023-04-01,2023-04-30,1232.794521
36,17,2022-07-09,yearly,14999,2023-05-01,2023-05-31,1273.887671
37,17,2022-07-09,yearly,14999,2023-06-01,2023-06-30,1232.794521
38,17,2022-07-09,yearly,14999,2023-07-01,2023-07-08,328.745205
39,2,2022-01-04,half_year,7999,2022-01-04,2022-01-31,1244.288889
40,2,2022-01-04,half_year,7999,2022-02-01,2022-02-28,1244.288889
41,2,2022-01-04,half_year,7999,2022-03-01,2022-03-31,1377.605556
42,2,2022-01-04,half_year,7999,2022-04-01,2022-04-30,1333.166667
43,2,2022-01-04,half_year,7999,2022-05-01,2022-05-31,1377.605556
44,2,2022-01-04,half_year,7999,2022-06-01,2022-06-30,1333.166667
45,2,2022-01-04,half_year,7999,2022-07-01,2022-07-03,88.877778
46,11,2022-04-13,half_year,7999,2022-04-13,2022-04-30,799.900000
47,11,2022-04-13,half_year,7999,2022-05-01,2022-05-31,1377.605556
48,11,2022-04-13,half_year,7999,2022-06-01,2022-06-30,1333.166667
49,11,2022-04-13,half_year,7999,2022-07-01,2022-07-31,1377.605556
50,11,2022-04-13,half_year,7999,2022-08-01,2022-08-31,1377.605556
51,11,2022-04-13,half_year,7999,2022-09-01,2022-09-30,1333.166667
52,11,2022-04-13,half_year,7999,2022-10-01,2022-10-10,399.950000
53,10,2022-07-17,half_year,7999,2022-07-17,2022-07-31,666.583333
54,10,2022-07-17,half_year,7999,2022-08-01,2022-08-31,1377.605556
55,10,2022-07-17,half_year,7999,2022-09-01,2022-09-30,1333.166667
56,10,2022-07-17,half_year,7999,2022-10-01,2022-10-31,1377.605556
57,10,2022-07-17,half_year,7999,2022-11-01,2022-11-30,1333.166667
58,10,2022-07-17,half_year,7999,2022-12-01,2022-12-31,1377.605556
59,10,2022-07-17,half_year,7999,2023-01-01,2023-01-13,533.266667
60,16,2022-10-17,half_year,7999,2022-10-17,2022-10-31,666.583333
61,16,2022-10-17,half_year,7999,2022-11-01,2022-11-30,1333.166667
62,16,2022-10-17,half_year,7999,2022-12-01,2022-12-31,1377.605556
63,16,2022-10-17,half_year,7999,2023-01-01,2023-01-31,1377.605556
64,16,2022-10-17,half_year,7999,2023-02-01,2023-02-28,1244.288889
65,16,2022-10-17,half_year,7999,2023-03-01,2023-03-31,1377.605556
66,16,2022-10-17,half_year,7999,2023-04-01,2023-04-15,622.144444
67,5,2022-02-27,quarter,3999,2022-02-27,2022-02-28,88.866667
68,5,2022-02-27,quarter,3999,2022-03-01,2022-03-31,1377.433333
69,5,2022-02-27,quarter,3999,2022-04-01,2022-04-30,1333.000000
70,5,2022-02-27,quarter,3999,2022-05-01,2022-05-28,1199.700000
71,3,2022-05-23,quarter,3999,2022-05-23,2022-05-31,399.900000
72,3,2022-05-23,quarter,3999,2022-06-01,2022-06-30,1333.000000
73,3,2022-05-23,quarter,3999,2022-07-01,2022-07-31,1377.433333
74,3,2022-05-23,quarter,3999,2022-08-01,2022-08-21,888.666667
75,15,2022-08-07,quarter,3999,2022-08-07,2022-08-31,1110.833333
76,15,2022-08-07,quarter,3999,2022-09-01,2022-09-30,1333.000000
77,15,2022-08-07,quarter,3999,2022-10-01,2022-10-31,1377.433333
78,15,2022-08-07,quarter,3999,2022-11-01,2022-11-05,177.733333
79,12,2022-01-01,yearly,14999,2022-01-01,2022-01-31,1273.887671
80,12,2022-01-01,yearly,14999,2022-02-01,2022-02-28,1150.608219
81,12,2022-01-01,yearly,14999,2022-03-01,2022-03-31,1273.887671
82,12,2022-01-01,yearly,14999,2022-04-01,2022-04-30,1232.794521
83,12,2022-01-01,yearly,14999,2022-05-01,2022-05-31,1273.887671
84,12,2022-01-01,yearly,14999,2022-06-01,2022-06-30,1232.794521
85,12,2022-01-01,yearly,14999,2022-07-01,2022-07-31,1273.887671
86,12,2022-01-01,yearly,14999,2022-08-01,2022-08-31,1273.887671
87,12,2022-01-01,yearly,14999,2022-09-01,2022-09-30,1232.794521
88,12,2022-01-01,yearly,14999,2022-10-01,2022-10-31,1273.887671
89,12,2022-01-01,yearly,14999,2022-11-01,2022-11-30,1232.794521
90,12,2022-01-01,yearly,14999,2022-12-01,2022-12-31,1273.887671
91,12,2022-01-01,yearly,14999,2023-01-01,2022-12-31,0.000000
92,4,2022-12-01,yearly,14999,2022-12-01,2022-12-31,1273.887671
93,4,2022-12-01,yearly,14999,2023-01-01,2023-01-31,1273.887671
94,4,2022-12-01,yearly,14999,2023-02-01,2023-02-28,1150.608219
95,4,2022-12-01,yearly,14999,2023-03-01,2023-03-31,1273.887671
96,4,2022-12-01,yearly,14999,2023-04-01,2023-04-30,1232.794521
97,4,2022-12-01,yearly,14999,2023-05-01,2023-05-31,1273.887671
98,4,2022-12-01,yearly,14999,2023-06-01,2023-06-30,1232.794521
99,4,2022-12-01,yearly,14999,2023-07-01,2023-07-31,1273.887671
100,4,2022-12-01,yearly,14999,2023-08-01,2023-08-31,1273.887671
101,4,2022-12-01,yearly,14999,2023-09-01,2023-09-30,1232.794521
102,4,2022-12-01,yearly,14999,2023-10-01,2023-10-31,1273.887671
103,4,2022-12-01,yearly,14999,2023-11-01,2023-11-30,1232.794521
104,4,2022-12-01,yearly,14999,2023-12-01,2023-11-30,0.000000
105,13,2022-01-01,half_year,7999,2022-01-01,2022-01-31,1377.605556
106,13,2022-01-01,half_year,7999,2022-02-01,2022-02-28,1244.288889
107,13,2022-01-01,half_year,7999,2022-03-01,2022-03-31,1377.605556
108,13,2022-01-01,half_year,7999,2022-04-01,2022-04-30,1333.166667
109,13,2022-01-01,half_year,7999,2022-05-01,2022-05-31,1377.605556
110,13,2022-01-01,half_year,7999,2022-06-01,2022-06-30,1333.166667
111,13,2022-01-01,half_year,7999,2022-07-01,2022-06-30,-44.438889
112,6,2022-04-01,half_year,7999,2022-04-01,2022-04-30,1333.166667
113,6,2022-04-01,half_year,7999,2022-05-01,2022-05-31,1377.605556
114,6,2022-04-01,half_year,7999,2022-06-01,2022-06-30,1333.166667
115,6,2022-04-01,half_year,7999,2022-07-01,2022-07-31,1377.605556
116,6,2022-04-01,half_year,7999,2022-08-01,2022-08-31,1377.605556
117,6,2022-04-01,half_year,7999,2022-09-01,2022-09-30,1333.166667
118,6,2022-04-01,half_year,7999,2022-10-01,2022-09-28,-133.316667
119,14,2022-01-01,quarter,3999,2022-01-01,2022-01-31,1377.433333
120,14,2022-01-01,quarter,3999,2022-02-01,2022-02-28,1244.133333
121,14,2022-01-01,quarter,3999,2022-03-01,2022-03-31,1377.433333
122,14,2022-01-01,quarter,3999,2022-04-01,2022-04-01,0.000000
123,8,2022-02-01,quarter,3999,2022-02-01,2022-02-28,1244.133333
124,8,2022-02-01,quarter,3999,2022-03-01,2022-03-31,1377.433333
125,8,2022-02-01,quarter,3999,2022-04-01,2022-04-30,1333.000000
126,8,2022-02-01,quarter,3999,2022-05-01,2022-05-02,44.433333

In [ ]:
df_final.to_csv('subscription_cal_month_wise.csv')